* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/Rectangle\ 616.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  list-style: none;
  /* font-size: 24px; */
  font-family: 'Red Hat Display';
  font-style: normal;
}